<body class="application application-offset">


  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Sidenav -->
    <div class="sidenav d-block" id="sidenav-main">
      <!-- Sidenav header -->
      <div class="sidenav-header d-flex align-items-center show">
        <a class="navbar-brand" href="index.html">
          <img src="assets/img/brand/white.png" class="navbar-brand-img" alt="...">
        </a>
        <div class="ml-auto">
          <!-- Sidenav toggler -->
          <div class="sidenav-toggler sidenav-toggler-dark" data-action="sidenav-unpin"
            data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-application">
        <a href="/" class="btn btn-square text-sm active">
          <span class="btn-inner--icon d-block"><i class="far fa-home fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Accueil</span>
        </a>
        <a href="/paramArduino" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="far fa-project-diagram fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Parametrage</span>
        </a>
        <a href="/gestionRelay" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-toggle-on"></i></span>
          <span class="btn-inner--icon d-block pt-2">Gestion Relay</span>
        </a>
      </div>
    </div>
    
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Page content -->
      <div class="page-content">

        <div class="card-body text-center flex-column justify-content-center choixPort">
          <div class="col align-self-center">            
            <h3 class="text-white row justify-content-center col-3">Port</h3>
            <div class="form-group row justify-content-center col-3">
              <select class="form-control" id="listPort">
        
              </select>
            </div>
            <div class="row justify-content-center col-3"><button id="choixPort" type="button" class="btn btn-light">Choix du Port</button></div>
          </div>
         
        </div>
        <!-- Page title -->
        <div class="page-title"></div>

        <div class="row appChampi d-none">

          <!-- Informations -->

          <div class="col-xl-4 col-md-6">
            <div class="card card-fluid">
              <div class="card-body">
                <div class="card-body text-center d-flex flex-column justify-content-center">
                  <h5 class="mb-4" style="margin-top: -5px;">Informations</h5>
                </div>
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">
                      Jours
                    </h6>
                  </div>
                  <div class="col-auto nbJour">
                    10
                  </div>
                </div>
                <hr class="my-3">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">
                      Etat
                    </h6>
                  </div>
                  <div class="col-auto suiviProcess">
                    Lancement
                  </div>
                </div>
                <hr class="my-3">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">
                      <span class="badge badge-dot">
                        <i class="bg-success"></i>
                        <span class="status">Sous Etat</span>
                      </span>
                    </h6>
                  </div>
                  <div class="col-auto suiviSousProcess">
                    
                  </div>
                </div>
                <hr class="my-3">
                <div class="card-body text-center d-flex flex-column justify-content-center">
                  <h5 class="mb-4">Brume</h5>
                </div>
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">
                      Durée de brume
                    </h6>
                  </div>
                  <div class="col-auto">
                    <span class="tempsOuvertureBrume">0</span> secondes
                  </div>
                </div>
                <hr class="my-3">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">
                      Intervale de brume
                    </h6>
                  </div>
                  <div class="col-auto">
                    <span class="tempsFermetureBrume">0</span> secondes
                  </div>
                </div>
                <hr class="my-3">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">
                      Deshumidification
                    </h6>
                  </div>
                  <div class="col-auto">
                    <span class="tempsDeshum">0</span> secondes
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Température -->

          <div class="col-xl-4 col-md-6">
            <div class="card card-fluid">
                <div class="card-body text-center d-flex flex-column justify-content-center">
                <h5 class="mb-4" style="margin-top: 5px;">Mesure</h5>
              <div class="progress-circle progress-lg mx-auto" id="progress-5" data-progress="100" data-text="NC"
              data-textclass="h1 temperatureAir" data-color="info"></div>
                <!-- Cercle -->
                <div class="d-flex mt-4">
                  <div class="col">
                    <button id="consigneAirDown" type="button" class="btn btn-danger">
                      -
                    </button>
                  </div>
                  <div class="col">
                    <button id="consigneAirUp" type="button" class="btn btn-success">
                      +
                    </button>
                  </div>
                </div>

                <!-- Information -->

                <div class="d-flex mt-4">
                  <div class="col text-left">
                    <span class="d-block badge badge-dot badge-lg h6 text-left">
                      <i class="voyantMesure"></i>Consigne :
                    </span>
                    <span class="d-block badge badge-dot badge-lg h6 text-left">
                      <i class="voyantMesure"></i>Delta :
                    </span>
                    <span class="d-block badge badge-dot badge-lg h6 text-left">
                    </span>
                  </div>
                  <hr class="my-3">
                  <div class="col text-right">
                    <span class="d-block badge badge-dot badge-lg h6 text-right">
                      <!-- Mesure -->
                      <span id="consigneAir" class="consigneAir">17</span>°C
                    </span>
                    <span class="d-block badge badge-dot badge-lg h6 text-right">
                      <!-- Delta -->
                      <span class="coeff">NC</span>°C
                    </span>
                    <span class="d-block badge badge-dot badge-lg h6 text-left">
                    </span>
                  </div>
                </div>
                
                <!-- Fin information -->
              </div>
            </div>
          </div>

          <!-- Humidité -->

          <div class="col-xl-4 col-md-6">
            <div class="card card-fluid">
              <div class="card-body text-center d-flex flex-column justify-content-center">
                <h5 class="mb-4" style="margin-top: 20px;">Taux d'humidité</h5>
                <div class="progress-circle progress-lg mx-auto" id="progress-5" data-progress="100" data-text="NC"
                  data-textclass="h1 tauxHumidite" data-color="info"></div>
                <div class="d-flex mt-4">
                  <div class="col">
                    <button id="consigneHumDown" type="button" class="btn btn-danger">
                      -
                    </button>
                  </div>
                  <div class="col">
                    <button id="consigneHumUp" type="button" class="btn btn-success">
                      +
                    </button>
                  </div>
                </div>
                <div class="d-flex mt-4">
                  <div class="col text-left">
                    <span class="d-block badge badge-dot badge-lg h6 text-left">
                      <i class="voyantHumidite"></i>Mesure Sec :
                    </span>
                    <span class="d-block badge badge-dot badge-lg h6 text-left">
                      <i class="voyantHumidite"></i>Mesure Humide :
                    </span>
                    <span class="d-block badge badge-dot badge-lg h6 text-left">
                      <i class="voyantHumidite"></i>Humidité
                    </span>
                  </div>
                  <hr class="my-3">
                  <div class="col text-right">
                    <span class="d-block badge badge-dot badge-lg h6 text-right">
                      <span class="moySec">NC</span>°C
                    </span>
                    <span class="d-block badge badge-dot badge-lg h6 text-right">
                      <span class="moyHum">NC</span>°C
                    </span>
                    <span class="d-block badge badge-dot badge-lg h6 text-right">
                      <span id="consigneHum" class="consigneHum">86</span>%
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <script src="assets/js/purpose.core.js"></script>
  <!-- Page JS -->
  <script src="assets/libs/progressbar-js/dist/progressbar.min.js"></script>
  <!-- Purpose JS -->
  <script src="assets/js/purpose.js"></script>
  <script src="/script.js"></script>
</body>

</html>